@import '/src/sass/colors';

.Login-Page {
    width: 100%;
    height: 100vh;
    padding: 10vw 5vw;
    background-color: $background-color;
    align-items: center;

    form {
        flex-direction: column;
        gap: 5vw;
        color: $primary-color;

        .logo {
            width: 100%;
            height: auto;
        }

        .title {
            align-self: center;
        }
    }
}

@media (orientation: landscape) {
    .Login-Page {
        justify-content: center;

        form {
            width: 50%;
            gap: 2vw;

            .logo {
                align-self: center;
                width: 30vw;
                margin-top: -3vw;
            }
        }
    }
}