$primary-color: #316664;
$primary2-color:  #664A3B;

$secondary-color: #B35F32;

$background-color: lighten(#FFDBC7, 5);
$red: #E12454;

:export {
    primary: $primary-color;
    primary2: $primary2-color;
    secondary: $secondary-color;
    background: $background-color;
    background_dark: darken($background-color, 2);
    red: $red;
}
