@import '/src/sass/colors';

.ProductList-Component {
    width: 100%;
    flex-direction: column;
    gap: 5vw;
    margin-bottom: 5vw;

    .list-container {
        width: 100%;
        flex-direction: column;
        gap: 3vw;
    }
}