@import '/src/sass/colors';

.ProductList-Component {
    width: 100%;
    flex-direction: column;
    height: 100%;
    // gap: 5vw;

    .list-container {
        width: 100%;
        flex-direction: column;
        gap: 3vw;
        height: 70vh;
        overflow-y: auto;

        margin-bottom: 2vw;
    }
}

@media (orientation: landscape) {
    .ProductList-Component {
        // gap: 2vw;

        .list-container {
            gap: 1vw;

            margin-bottom: 2vw;
        }
    }
}