@import '/src/sass/colors';

.ProductContainer-Component {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;

    .main-container {
        width: 100%;
        background-color: darken($background-color, 7);
        padding: 3vw;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;

        .info {
            flex: 1;
            justify-content: space-between;
            font-weight: bold;
            flex-direction: column;
        }

        .actions {
            // flex: 0.4;
            align-items: center;
            justify-content: space-between;
        }

    }
}

@media (orientation: landscape) {
    .ProductContainer-Component {
        .main-container {
            padding: 1vw;
        }
    }
}