@import '/src/sass/colors';

.NewProduct-Component {
    width: 100%;
    padding-top: 5vw;

    form {
        flex-direction: column;
        gap: 5vw;
        color: $primary-color;
    }
}

@media (orientation: landscape) {
    .NewProduct-Component {
        padding-top: 5vw;
        form {
            gap: 1vw;
        }
    }
}