@import '/src/sass/colors';

.ControlPanel-Page {
    width: 100%;
    height: 100vh;
    padding: 10vw 5vw;
    background-color: $background-color;
    flex-direction: column;
    gap: 10vw;

    .header {
        justify-content: flex-end;
    }
}