@import '/src/sass/colors';

.ControlPanel-Page {
    width: 100%;
    min-height: 100vh;
    padding: 5vw;
    background-color: $background-color;
    flex-direction: column;
    overflow-y: hidden;

    .header {
        justify-content: space-between;
        align-items: center;
        color: $primary-color;

        .header-buttons {
            align-items: center;
            gap: 3vw;
        }

        .title {
        }

    }
}

@media (orientation: landscape) {
    .ControlPanel-Page {
        padding: 2vw 10vw;
        gap: 2vw;

        .header {
            .title {
                font-size: 2vw;
            }
        }
    }
}